html {
    height: 100%;
}

body {
    font-family: Roboto;
    margin: 0px;
    background-color: #37474F;
    -webkit-user-select: none;
    cursor: default;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}

#root {
  height: inherit;
}

.linkless-link {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

/* Scroll customization */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #263238;
}

::-webkit-scrollbar-thumb:window-inactive {
    margin-top: 50px;
    background: transparent;
}
/* Scroll customization */
